<li class="comment">
<p>Comment by <%= comment.user.name %></p>
  <div class="body">
    <%= comment.body %>
  </div>
  
  <p><%= link_to 'Add a Reply', new_comment_comment_path(comment) %></p>

 <p><%=  if current_user.id == comment.user_id then link_to 'Edit', edit_comment_comment_path(comment, comment) end %></p>

  <%= if current_user.id == comment.user_id then link_to 'Delete', post_comment_path(comment.commentable, comment), :method => :delete end%>
  
  <% unless comment.comments.empty? %>
  <ul class="comment_list">
    <%= render :partial => 'comments/comment', :collection => comment.comments %>
  </ul>
  <% end %>
</li>