


<h1><%= @post.title %></h1>

  <table>
    <tr>
      <td rowspan="2"> <%= image_tag @post.user.avatar.url(:thumb) %> </td>
      <th>Posted By <%= @post.user.name  %></th>
    </tr>
    <tr>
      <th><%= @post.created_at%></th>
    </tr>
  </table>




<div class="body">
	<%= @post.body %>  
</div>

<p>
  <%= if current_user.id == @post.user_id then link_to "delete  ", post_path(@post),method: :delete , data: {confirm: "Really delete the post?"} end%>
  <%=  if current_user.id == @post.user_id then link_to "edit", edit_post_path(@post) end%>
</p>


<h2>Comments</h2>

<p><%= link_to 'Add a Comment', new_post_comment_path(@post), class: "btn btn-primary" %></p>

<ul class="comment_list">
	<%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>

<p><%= link_to "<< Back to Posts List", posts_path %> </p>