<p><%= link_to "<< Back to Posts List", posts_path %> </p>
<p>
	<%= link_to "delete", post_path(@post),method: :delete , data: {confirm: "Really delete the post?"}%>
</p>

<p>
	<%= link_to "edit", edit_post_path(@post) %>

</p>

<h1><%= @post.title %></h1>

<div class="body">
	<%= @post.body %>  
</div>

<h2>Comments</h2>

<p><%= link_to 'Add a Comment', new_post_comment_path(@post) %></p>

<ul class="comment_list">
	<%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>

